/* 
	Author: James Latten	
	
	Copyright: James Latten @ Sitelyft Studios 2017
*/
.mainNav{
	position: absolute;
<<<<<<< HEAD
	z-index: 100001;
=======
	z-index: 1001;
>>>>>>> origin/MAIN
	
	width: 100%;
		
	.innerMainNav{
		float: none;
		margin: 0% auto;

		text-align: center;
		
		padding: 20px;
		
		li{
			display: inline-block;
			margin-right: 25px;
			
			a{
				color: white;
			}
		}
	}
}
